.main {
	background: #deb9b4;
}
#picture1:before {
	background: rgba(68,102,157,.5);
}
#picture1 {
	background-image: url("background/2016/1.jpg") !important;
}
#picture2:before {
	background: rgba(147,48,35,.5);
}
#picture2 {
	background-image: url("background/2016/2.jpg") !important;
}
#picture3:before {
	background: rgba(140,157,115,.5);
}
#picture3 {
	background-image: url("background/2016/3.jpg") !important;
}
#picture4:before {
	background: rgba(227,156,147,.5);
}
#picture4 {
	background-image: url("background/2016/4.jpg") !important;
}
#picture5:before {
	background: rgba(58,51,58,.5);
}
#picture5 {
	background-image: url("background/2016/5.jpg") !important;
}
#picture6:before {
	background: rgba(227,188,109,.5);
}
#picture6 {
	background-image: url("background/2016/6.jpg") !important;
}