.main {
	background: #746963;
}
#picture1:before {
	background: rgba(116,175,183,.5);
}
#picture1 {
	background-image: url("background/2014/1.jpg") !important;
}
#picture2:before {
	background: rgba(168,62,74,.5);
}
#picture2 {
	background-image: url("background/2014/2.jpg") !important;
}
#picture3:before {
	background: rgba(98,92,92,.5);
}
#picture3 {
	background-image: url("background/2014/3.jpg") !important;
}
#picture4:before {
	background: rgba(228,119, 90, .5);
}
#picture4 {
	background-image: url("background/2014/4.jpg") !important;
}
#picture5:before {
	background: rgba(45,50,58,.5);
}
#picture5 {
	background-image: url("background/2014/5.jpg") !important;
}
#picture6:before {
	background: rgba(167,170,139,.5);
}
#picture6 {
	background-image: url("background/2014/6.jpg") !important;
}